lightning
transformers
accelerate
datasets
onnx
toml
timm
black
GitPython
colorlog
cocotb[bus]==1.8.0
pytest
ipython
ipdb
sentencepiece
einops
deepspeed
pybind11
tabulate
tensorboard
optuna
stable-baselines3
scikit-learn
nni
h5py
pyyaml
numpy
pandas
wandb